
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 200;
}

h1 {
    text-align: center;
    font-weight: bold;
}

/* Estilos para el elemento con ID "foto" */
#foto {
    width: 200px;   /* Ancho del elemento */
    height: auto;   /* Alto del elemento automático */
}

/* Estilos para el elemento con la clase "subtitle" */
.subtitle {
    color: rgba(107, 114, 128, 0.89);  /* Color del texto */
    text-transform: uppercase;           /* Transformación del texto a mayúsculas */
}

section {
    /*...


    /* borde redondeado con un radio de 5 píxeles */
 
    /* en navegadores basados en WebKit, 
    como versiones antiguas de Safari y Chrome. */
    -webkit-border-radius: 5px; 
 
    /* en navegadores antiguos de Mozilla, 
    como Firefox.  */
    -moz-border-radius: 5px;    
 
    /* en navegadores modernos. */
    border-radius: 5px;      


    /*...
    /* sombra a un elemento */

    -webkit-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);
    box-shadow: 3px 3px 1px 0px rgba(235, 234, 234, 0.60);


    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px; 
 
    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd; 
 
    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */
 
    padding: 1.5% 0.8%; 
 
    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */
 
    padding-left: 1.2%; 
    padding-right: 1.2%; 
  }

  /* Incluir la fuente Poppins para todas las etiquetas */
* {
    font-family: 'Poppins', sans-serif;
}

/* Eliminar el subrayado de todas las etiquetas <a> */
a {
    text-decoration: none; /* Elimina el subrayado */
}

/* Subrayar al pasar el mouse por encima en los <a> dentro de <nav> */
nav a:hover {
    text-decoration: underline; /* Subraya al pasar el mouse */
}

/* Eliminar las viñetas de todas las etiquetas <li> */
li {
    list-style-type: none; /* Elimina las viñetas */
}

/* Centrar la etiqueta <ul> que se encuentra dentro <footer> */
footer ul {
    text-align: center; /* Centra el contenido del <ul> */
}
