

* {
    /* Familia de fuentes */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    /* Grosor de la fuente 200 */
    font-weight: 200; 
}

h1 {
    /* Alineación del texto */
    text-align: center;
    /* Grosor de la fuente negrita */ 
    font-weight: bold; 
  }

/* Estilos para el elemento con ID "foto" */
#photo {
    width: 200px;   /* Ancho del elemento */
    height: auto;   /* Alto del elemento automático */
}

/* Estilos para el elemento con la clase "subtitle" */
.subtitle {
    color: rgba(107 114 128 / 0.89);  /* Color del texto */
    text-transform: uppercase;           /* Transformación del texto a mayúsculas */
}

section {
    /* margen (espacio externo) superior, derecho, abajo e izquierda */
    margin: 4px 2px 8px 2px; 
 
    /* borde de grosor 0.2 en puntos, estilo sólido y color hexadecimal #cedddd  */
    border: 0.2pt solid #cedddd; 
 
    /* relleno (espacio interno) de 
    1.5% en la parte superior e inferior y 
    0.8% a los lados derecho e izquierdo. */
 
    padding: 1.5% 0.8%; 
 
    /* reemplazan el 0.8% inicial en el relleno izquierdo y derecho, 
    dándoles un valor específico de 1.2% para esos lados. */
 
    padding-left: 1.2%; 
    padding-right: 1.2%;   
    
    /* borde redondeado con un radio de ... píxeles */
    border-radius: 30px;
   /* en navegadores basados en WebKit, 
   como versiones antiguas de Safari y Chrome. */
   -webkit-border-radius: 30px; 

   /* en navegadores antiguos de Mozilla, 
   como Firefox.  */
   -moz-border-radius: 30px;    

    /*Sombra a un elemento*/
    -webkit-box-shadow: 20px 21px 15px 5px rgba(235, 234, 234, 0.60);
    -moz-box-shadow: 20px 21px 15px 5px rgba(235, 234, 234, 0.60);
    box-shadow: 20px 1px 15px 5px rgba(235, 234, 234, 0.60);
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none; /* Elimina el subrayado */
}

nav a:hover {
    text-decoration: underline; /* Subraya al pasar el mouse */
}

li {
    list-style-type: none; /* Elimina las viñetas */
}

footer ul {
    text-align: center; /* Centra el contenido del <ul> */
}


nav ul {
    /* Modelo de diseño flexible */
    display: flex;									
    justify-content: space-around;
}

section form {
    /* Modelo de diseño en cuadrícula */
    display: grid;									
    row-gap: 0.5rem;
}


/*
#resumen{
    
    display: flex;
    /* Distribuye el espacio entre y alrededor
    de los items en el eje principal */
    justify-content: space-evenly;
    /* Alinea los elementos al centro dentro
    del bloque respecto con el eje transversal */
    align-items: center;
    /* Eje principal: por columna */
    flex-direction: column;
    /* Altura de 24% del área de visualización */
    height: 24vh;
    /* Apilamiento de elementos: ajustado hasta ocupar
    el máximo */
    flex-wrap: wrap;
}
#resumen h2	{
    width: 50%;
}	
#resumen p	{
    width: 50%;
}	
#resumen img {
    max-width: 50%;
}


#resumen {
    /* Modelo de diseño en cuadrícula */
    display: grid;

    /* Distribuye el espacio entre y alrededor
             de los items en el eje principal */
    justify-content: space-around;

    /* Alineación de un elemento dentro del bloque
        que lo contiene, considerando el eje transversal */
    align-items: stretch;

    /* Plantilla con áreas en la cuadrícula */
    grid-template-areas: "A D" 
                         "B D";
}

#resumen h2 {
  grid-area: A;
}

#resumen p {
  grid-area: B;
}

#resumen img {
    max-width: 90%;
  grid-area: D;
}

#map script{
    height: 300px; /* Altura del mapa */
    width: 500px; /* Ancho del mapa */
}
